body {
    background-color: white;
}

div {
    /*background-color: aquamarine;*/
    border: 3px solid #333;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
    margin-top: 20px;
    width: 1000px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

p {
    border: 3px solid #333;
    border-radius: 5px;
    padding: 5px;
    width: 1000px;
    margin: auto;
    margin-top: 20px;
}

input {
    width: 200px;
    height: 20px;
}

input:focus {
    animation-name: expand;
    animation-fill-mode: forwards;
    animation-duration: 500ms;
}

@keyframes expand{
    100% {
        width: 500px;
        height: 30px;
    }
}

img {
    width: 500px;
    transition: width 500ms;
}

img:hover {
    width: 1000px;
}
